:root { 
--white_A700_7f:#ffffff7f; 
--blue_A700:#0156ff; 
--white_A700_90:#ffffff90; 
--light_blue_600:#009cde; 
--light_blue_500:#00a3ff; 
--gray_50:#f5f6ff; 
--green_400:#78a962; 
--red_100:#fcdfce; 
--black_900_01:#000000; 
--black_900:#020202; 
--yellow_800:#e9a426; 
--yellow_900:#f26e21; 
--red_A700:#db0000; 
--black_900_02:#020203; 
--gray_700:#666666; 
--white_A700_6c:#ffffff6c; 
--blue_gray_100:#c9ccd7; 
--gray_500:#a2a2a2; 
--blue_gray_300:#a1a5b0; 
--blue_800:#2557d6; 
--amber_600:#f9b50b; 
--gray_900:#2a2a2a; 
--light_blue_600_01:#0099df; 
--teal_50:#d7e2f3; 
--white_A700_00:#ffffff00; 
--indigo_400:#6c6bbd; 
--black_900_99:#00000099; 
--indigo_900:#003087; 
--blue_100:#cbdeff; 
--blue_100_01:#cbeeff; 
--red_A700_01:#eb001b; 
--blue_100_02:#d3ddf7; 
--white_A700:#ffffff; 
--indigo_500:#3362ab; 
}